<% if notice %>
  <div class="alert alert-success fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <%= alert %>
  </div>
<% end %>