<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="<%= active_class(root_path) %>"><%= link_to t('home_page'), root_path %></li>
    <li role="presentation" class="<%= active_class(posts_path) %>"><%= link_to t('all_posts'), posts_path %></li>
  </ul>
</nav>