<div class="header clearfix">
  <%= render "shared/navbar" %>
  <h3 class="text-muted"><%= t('title') %></h3>
</div>

<% if content_for? :jumbotron %>
  <div class="jumbotron">
    <%= yield :jumbotron %>
  </div>
<% end %>