<%= content_for :jumbotron do %>
  <h1><%= t('.title')%></h1>
  <p class="lead"><%= t('.jumbotron_content') %></p>
  <p>
    <%= link_to new_post_path, class: "btn btn-lg btn-success" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <%= t('posts.new.title') %>
    <% end %>
  </p>
<% end %>

<h3><%=t('.latest_posts')%></h3>
<%= render partial: "posts/grouped_posts", locals: {posts: @posts} %>