<%= simple_form_for @post, html: { class: 'form-horizontal' } do |f| %>

  <%= f.input :title %>
  <%= f.input :body, as: :text, input_html: {cols: 10, rows: 10} %>

  <%= f.button :submit %>
<% end %>

<%= link_to t('back'), :back, class: "btn btn-link" %>

<%= javascript_include_tag Ckeditor.cdn_url %>

<%= javascript_tag do %>
(function() { if (typeof CKEDITOR != 'undefined') { if (CKEDITOR.instances['post_body'] == undefined) { CKEDITOR.replace('post_body', {"customConfig": "<%=asset_path('ckeditor/custom_config.js')%>", "toolbar":"mini"}); } } else { setTimeout(arguments.callee, 50); } })();
<% end %>
