<h4 class="term-highlight"><%= post.title.titleize %></h4>
<p class="term-highlight"><%= truncate(post.stripped_body, {length: 140}) %></p>
<%= link_to t('.see_more'), post_path(post), class: "btn btn-link" %>