<div class="col-lg-12 text-center">
  <%= search_form_for(@search, :builder => SimpleForm::FormBuilder, html: { class: 'form-horizontal' },
    wrapper: :horizontal_input_group) do |f|%>

    <%= f.input :title_or_stripped_body_cont, wrapper: :horizontal_input_group, label: false do%>
      <%= f.input_field :title_or_stripped_body_cont, class: "form-control" %>
      <span class="input-group-btn">
        <%= f.submit t('search'), class: "btn btn-default"%>
      </span>
    <% end %>

  <% end %>
</div>

<div class="col-lg-12">
  <p class="lead"><%= page_entries_info @posts %></p>
</div>

<div class="col-lg-12 text-center">
  <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
</div>

<div id="search-text">
  <%= render partial: "grouped_posts", locals: {posts: @posts} %>
</div>

<div class="col-lg-12 text-center">
  <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
</div>

<script type="text/javascript">
  window.App.highlightSearch();
</script>