<article>
  <h1><%= @post.title.titleize %></h1>
  <p><%= sanitize @post.body %></p>
</article>

<%= link_to t('edit'), edit_post_path(@post), class: "btn btn-default" %>
<%= link_to t('.delete'), @post, class: "btn btn-danger", method: :delete, data: {confirm: t('.confirm_deletion')} %>