/* App Styles
-------------------------------------------------- */
//colors
$mercury: #e5e5e5;
$color_tapa_approx: #777;
$color_wild_sand_approx: #f5f5f5;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid $mercury;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
.footer {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 19px;
  color: $color_tapa_approx;
  border-top: 1px solid $mercury;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $color_wild_sand_approx;
}
@media(min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $mercury;
  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}
@media screen and(min-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
