<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Begin page content -->
  <div class="container">
    <%= render "shared/page_header" %>
    <div class="container">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </div>

  <%= render "shared/footer" %>
</body>
</html>
